<img src = "https://upload.wikimedia.org/wikipedia/commons/9/95/Stockx_logo.png" width="15%"/>

# Stock X Data Analysis

## Objectives:
* What shoes are most popular?
* Which shoes have the best/worst profit margins?
* What factors affect profit margin?
* Is it possible to predict the sale price of a shoe at a given time?

### About Dataset:
- Currently the dataset consists of the single file of sales provided by StockX. ~10000 shoe sales from 50 different models (Nike x Off-White and Yeezy).

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
# Leitura do Dataset Escolhido
dataframe = pd.read_csv("StockX-Data-Contest-2019-3.csv")

In [1]:
dataframe # raw data

NameError: name 'dataframe' is not defined

In [5]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99956 entries, 0 to 99955
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    99956 non-null  object
 1   Brand         99956 non-null  object
 2   Sneaker Name  99956 non-null  object
 3   Sale Price    99956 non-null  object
 4   Retail Price  99956 non-null  object
 5   Release Date  99956 non-null  object
 6   Shoe Size     99956 non-null  float64
 7   Buyer Region  99956 non-null  object
dtypes: float64(1), object(7)
memory usage: 6.1+ MB

In [6]:
dataframe['Sale Price'] = dataframe['Sale Price'].str.replace('$', '')
dataframe['Sale Price'] = dataframe['Sale Price'].str.replace(',', '.')

In [7]:
dataframe['Retail Price'] = dataframe['Retail Price'].str.replace('$', '')

In [8]:
dataframe

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1.097,220,9/24/16,11.0,California
1,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685,220,11/23/16,11.0,California
2,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690,220,11/23/16,11.0,California
3,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1.075,220,11/23/16,11.5,Kentucky
4,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828,220,2/11/17,11.0,Rhode Island
...,...,...,...,...,...,...,...,...
99951,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,565,220,12/26/18,8.0,Oregon
99952,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,598,220,12/26/18,8.5,California
99953,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,605,220,12/26/18,5.5,New York
99954,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,650,220,12/26/18,11.0,California
99955,2/13/19,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,640,220,12/26/18,11.5,Texas

In [9]:
dataframe['Retail Price'] = dataframe['Retail Price'].astype(int)

In [10]:
dataframe['Sale Price'] = dataframe['Sale Price'].astype(float)

In [11]:
dataframe['Sale Price'] = dataframe['Sale Price'].astype(int) # nao funcionou pois 1097 virou 1

In [12]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99956 entries, 0 to 99955
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    99956 non-null  object
 1   Brand         99956 non-null  object
 2   Sneaker Name  99956 non-null  object
 3   Sale Price    99956 non-null  int32
 4   Retail Price  99956 non-null  int32
 5   Release Date  99956 non-null  object
 6   Shoe Size     99956 non-null  float64
 7   Buyer Region  99956 non-null  object
dtypes: float64(1), int32(2), object(5)
memory usage: 5.3+ MB

In [13]:
dataframe["Sale Price"].mean() #media

402.43054944175435

In [14]:
df = dataframe.drop('Order Date', axis = 1)

#### Dataframe limpo

In [15]:
df # dataset limpo

,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1,220,9/24/16,11.0,California
1,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685,220,11/23/16,11.0,California
2,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690,220,11/23/16,11.0,California
3,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1,220,11/23/16,11.5,Kentucky
4,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828,220,2/11/17,11.0,Rhode Island
...,...,...,...,...,...,...,...
99951,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,565,220,12/26/18,8.0,Oregon
99952,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,598,220,12/26/18,8.5,California
99953,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,605,220,12/26/18,5.5,New York
99954,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,650,220,12/26/18,11.0,California
99955,Yeezy,adidas-Yeezy-Boost-350-V2-Static-Reflective,640,220,12/26/18,11.5,Texas